img.logo-nav{
    width: 64px;
    margin-left: 6px;
    margin-top: 0px;
    margin-right: 4px;
}

p.titulo-inicio{
    margin-top: 0em;
    line-height: 1em;
    padding-top: 1.75em;
    font-size: 1.75ex;
}
  
.titulo-nav{
    margin-left: 20px;
    padding-top: 0.5em;
    color: black;
}

.titulo-nav:hover{
    color: grey;
}

.navbar{
    background-color: #adb5bd6e;
}
  
div.titulo-instruccion{
    text-align: center;
    margin-top: 15px;
}

table.tabla-pasos{
    text-align: center;
    width: 65%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.imagen-paso{
    /* height: 50vh; */
    width: 30vw;
    /* min-width: 50px; */
    /* max-width: 300px; */
}
